
:root {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center ;
  background: url('images/logregbg.png') no-repeat center center fixed #FCF8E8;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 6vh;
  margin-bottom: 8vh;
  margin-top: 2vh;
  top: 3vh;
}

.login_form, .register_form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 11px;
  background-color: #FCC0D0;
  /* justify-content: space-between; */
  padding: 30px;
}

.switch_form {
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 11px;
  background-color: #FCC0D0;
  /* justify-content: space-between; */
  padding: 20px;
}

.guest_flex {
  padding: 20vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 11px;
  justify-content: space-between;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  font-weight: bold;
}

input {
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  background-color: #CEE5D0;
}

body {
  margin: 0px;
}

button {
  margin-top: 10px;
  border: none;
  background-color: #94B49F;
  padding: 20px;
  border-radius: 11px;
}

.link-btn {
  background: none;
  color: aqua;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

#page_wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.side_bar {
  position: absolute;
  z-index: 0;
}

.log_out {
  position: absolute;
  z-index: 1;
  top: 0.8vh;
  right: 0.8vh;
  margin-top: 0;
  filter: drop-shadow(0px 5px 4px black);
  display: flex;
  align-items: space;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 1.5vh;
}

.log_out button {
  margin-top: 0;
}

.username {
  background-color: #FCC0D0;
  height: 6vh;
  width: 100%;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

.cards {
  background-color: #FCF8E8;
  margin-top: 20px;
  display: block;
  width: 100%;
}

.card_name {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.card_id {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.active {
  background-color: #94B49F;
}

.guest-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.timer_buttons button {
  background-color: #FCF8E8;
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  width: 150%;
  background-color:#CEE5D0
}

.timer_buttons .active {
  background-color: #94B49F
}
.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.timer_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.timer_time {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 0 2rem;
}


.timer_text {
  padding-top: 30px;
  font-weight: bold;
  font-size: 2em;
}

.timer_time_total {
  font-weight: bold;
}


.timer_play {
  padding: 30px;
  background-color: #94B49F;
  z-index: 4;
  border-radius: 50%;
  text-align: center;
  width: 50vh;
  height: 50vh;
  align-self: center;
  filter: drop-shadow(0px 5px 4px black);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
  
.timer_pause {
  padding: 30px;
  background-color:#94B49F;
  z-index: 4;
  border-radius: 50%;
  text-align: center;
  width: 50vh;
  height: 50vh;
  align-self: center;
  filter: drop-shadow(0px 5px 4px black);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.play {
  width: 15vh;
  height: 15vh;
  z-index: 4;
  position: relative;
  align-self: auto;
}


.canvas_chart {
  width: 50vh;
  height: 30vh;
}

.chart_container {
  background: #CEE5D0;
  opacity: 90%;
  border-radius: 10%;
  height: auto;
  width: auto;
}

.chart_keys {
  margin-right: 5vh;
}

.statistics_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart_header {
  font-size: 4vh;
}
 
#overall_view {
  color: black;
  text-align: center;
}

.user_icon {
  margin-right: 8px;
}

.timer_circle_play {
  padding: 16px 24px;
  position: relative;
  border-radius: 90px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  width: auto;
  height: auto;
}
.timer_circle_play::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0.88) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #7001DE, #9e16c3, #c42da8, #e4428d, #ff5770);
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
 }
  100% {
    background-position: 200% 50%;
 }
}

.timer_circle_pause {
  padding: 16px 24px;
  position: relative;
  border-radius: 90px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  width: auto;
  height: auto;
}

.timer_circle_pause::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0.88) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(to left, #FCC0D0, #FAB6C8, #F499B2);
  background-size: 200% 200%;
  animation: animateGlow 10.25s linear infinite;
}